@import url('https://f...content-available-to-author-only...s.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



.alif{
    background-image: url(../B10A1-Challenge-Begins-main/assets/Hero-bg.png);
}
.cont{

    height: 240px;
    width: 240px;
    margin:0 auto ;
}
.section{
     display: flex;
    height: 135px;
    justify-content: center;
    text-align: center;
    color: rgb(13, 19, 33);
    
}
.pag{
    
    text-align: center;
    color: rgb(13, 19, 33);
    margin-bottom: 120px;
}
.btn{
     display: flex;
     justify-content: center;
     align-items: center;
}
.box{
    width: 1140px;
    margin: 0 auto;
}
.box-first{
    text-align: center;
}
.sec-box{
    display: flex;
    justify-content: center;
    margin: 48px;
}
.bb{
    margin-right: 95px;
}
.btn-primary{
width: 145px;
height: 44px;
font-weight: 600;
font-size: 20px;
color: rgb(13, 19, 33);
background-color: rgb(255, 186, 140);
text-decoration: none;
border: none;
border-radius: 15PX;
}
.btn-primary1{
    width: 145px;
    height: 44px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(13, 19, 33);
    background-color: rgb(255, 217, 191);
    text-decoration: none;
    padding-top: 20px;
    margin-bottom: 50px; 
    border-radius: 15px;
}
.bb2{

    
    width: 145.52px;
    height: 148.66px;
    left: 0.65%;
    right: -0.65%;
    top: 48.43%;
    bottom: -48.43%;  
}
.bb3{
    display: flex;
    justify-content: center;
    margin: 50px 150px;
}
.third-box{

   
}
.btn-2{
width: 145px;
height: 44px;
font-weight: 600;
font-size: 20px;
color: rgb(13, 19, 33);
}
.image-4{
    position: static;
width: 240px;
height: 240px;
}
.ins{
text-align: center;
margin:50px 100px;

}
.ins-1{
    text-align: center;
    font-size: 30px;
}
   

.video-sec{
    display: flex;
    justify-content: center;
}
.vse-1{
    margin-bottom: 45px;
    display: flex;
    justify-content: space-evenly;
}
.vse-2{
    border-radius: 16px;
    padding: 20px;
    background-color: rgb(255, 223, 182);
}
.line{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(13, 19, 33);
}
.vse-3{
    border-radius: 16px;
    padding: 20px;
    background-color: rgb(182, 230, 236);

}
.vse-4{
    border-radius: 16px;
    padding: 20px;
    background-color: rgb(255, 246, 181);

}
.sup-sec{
    width: 1140px;
    height: 314px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    
    margin-bottom: 100px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.sub-sec1{
    color: rgb(255,255,255);

}
.support-section{
    text-align: center;
}
 
.footer-side{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
.support-section-mid{
    color: rgb(255, 255, 255);
    padding: 64px 48px 64px 48px;
    text-align: center;
}
.support-section-mid p{
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
nav ul{
    display: flex;
    justify-content: center;
}